.chatBox {
  // background-image: url(https://i.pinimg.com/originals/8f/ba/cb/8fbacbd464e996966eb9d4a6b7a9c21e.jpg);

  .infoDefault {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 22px;
  }

  .info {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    .avatar {
      border-radius: 50%;
      height: 50px;
      width: 50px;
    }
    .nickname {
      font-size: 22px;
      padding-left: 1%;
    }
  }

  .msgAreaMain {
    min-height: 100%;

    .msgArea {
      padding: 5%;
      width: 100%;
      display: flex;
      flex-direction: column;
      // justify-content: space-around;

      .userMsg {
        background-color: #a577f9;
        align-self: flex-end;
        min-width: 10%;
        max-width: 30%;
        max-height: 4%;
        border: 1px solid black;
        border-radius: 5px;
        padding-left: 1px;
        margin-bottom: 3%;
      }

      .otherMsg {
        background-color: white;
        min-width: 10%;
        max-width: 30%;
        max-height: 4%;
        border: 1px solid black;
        border-radius: 5px;
        padding-left: 1px;
        margin-bottom: 3%;
      }
    }
  }

  .chatContainer {
    .msgInput {
      background-color: white;
      width: 90%;
    }
  }
}
