.msgInput {
  width: 60%;
}

.msgArea {
  padding: 5%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  .userMsg {
    background-color: #9055fa;
    align-self: flex-end;
    min-width: 10%;
    max-width: 30%;
    height: 4%;
    border-radius: 5px;
  }
  .otherMsg {
    background-color: #1de9b6;
    min-width: 10%;
    max-width: 30%;
    height: 4%;
    border-radius: 5px;
  }
}
